# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
.env
.env.*

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
node_modules/
**/node_modules/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
**/docker-compose.override.yml
**/docker-compose.local.yml
**/docker-compose.dev.yml
**/docker-compose.test.yml
**/docker-compose.prod.yml

# Misc
*.swp
*.swo
*.bak
*.tmp
*.orig

**/node_modules/
node_modules/
dist/
**/dist/
output/
**/output/ 
.next/
**/.next/


# Redis
*.rdb


# db
project/data/

project/.factory-work/